<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head :: head('Polanská keška')">
</head>
<body>
<div class="container">
    <div th:insert="fragments/header :: header()"></div>
    <div class="row">
        <div class="col-sm-12">
            <h2 th:text="${teamDetail.name}"></h2>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Číslo kešky</th>
                        <th scope="col">Indície</th>
                        <th scope="col">Čas vyřešní</th>
                        <th scope="col">Odpovědi</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="part : ${crosswordParts}">
                        <tr th:with="timestamp=${teamDetail.solvedCachesTimestamps.get(#strings.toString(part.cacheNumber))}">
                            <td th:text="${part.cacheNumber}"></td>
                            <td th:text="${part.code}"></td>
                            <td th:text="${#temporals.format(timestamp, 'dd.MM.yyyy HH:mm')}"></td>
                            <td>
                                <div th:each="answer: ${teamDetail.answers}">
                                    <div th:if="${answer.cache.number == part.cacheNumber}">
                                        <span th:text="${answer.text}"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div th:if="${#strings.contains(part.code, '_')}">
                                    <a class="btn" th:href="@{/admin/team/solve(teamName=${teamDetail.name}, cacheNumber=${part.cacheNumber})}">Vyřešit</a>
                                </div>
                                <div th:unless="${#strings.contains(part.code, '_')}">
                                    <p class="team-status-badge-finished"> Vyřešeno</p>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer()"></div>
</div>
</body>
</html>
