<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head :: head('Polanská keška')">
</head>
<body>
<div class="container">
    <div th:insert="fragments/header :: header()"></div>
    <div class="row">
        <div class="col-sm-12">
            <div th:if="${teamCreated == true}" class="alert alert-success">
                <p><strong>Tým vytvořen!</strong></p>
            </div>
            <div th:if="${teamCreated == false}" class="alert alert-danger">
                <p><strong>Tým nebyl vytvořen!</strong></p>
                <p>Tým se stejným názvem nebo emailem už existuje.</p>
            </div>
            <h2>Nový tým</h2>
            <form th:action="|/admin/team/save|" th:object="${teamFormDTO}" method="post">
                <div class="form-group">
                    <label for="teamName">Název týmu</label>
                    <input id="teamName" type="text" th:field="*{name}" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" th:field="*{email}" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="members">Členové týmu</label>
                    <small id="membersHelp" class="form-text text-muted">Pro oddělení jmen použij čárku -> Adam,Eva</small>
                    <input id="members" type="text" th:field="*{members}" class="form-control" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Uložit</button>
                </div>
            </form>
            <div>
                <a th:href="@{/admin/cache}" class="btn btn-secondary">Přejít na seznam kešek</a>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Název</th>
                        <th scope="col">Email</th>
                        <th scope="col">Členové</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${allTeams.empty}">
                        <td colspan="5"><p>V systému nejsou týmy</p></td>
                    </tr>
                    <th:block th:each="team : ${allTeams}">
                        <tr>
                            <td th:text="${team.name}"></td>
                            <td th:text="${team.email}"></td>
                            <td th:text="${team.members}"></td>
<!--                            <td>-->
<!--                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" th:utext="#{label.actions}">Akce-->
<!--                                    <span class="caret"></span>-->
<!--                                </button>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li><a href="#" th:href="@{/admin/team/update/{teamId}(teamId=${team.teamId})}" class="btn" th:utext="#{label.edit}">Upravit</a></li>-->
<!--                                    <li><a href="#" th:href="@{/admin/team/delete/{teamId}(teamId=${team.teamId})}" class="btn" th:utext="#{label.delete}">Smazat</a></li>-->
<!--                                </ul>-->
<!--                            </td>-->
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer()"></div>
</div>
</body>
</html>
