<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head :: head('Polanská keška')">
</head>
<body>
<div class="container">
    <div th:insert="fragments/header :: header()"></div>
    <div class="row">
        <div class="col-sm-12">
            <div th:if="${result?.isCorrect == true}" class="alert alert-success">
                <p><strong>Správně!</strong></p>
                <p th:text="'Podařilo se vám vyřešit úkol kešky číslo ' + ${result?.cacheNumber} + '.'"></p>
                <p th:text="'Objevená indície je: \'' + ${result?.code} + '\'.'"></p>
                <a th:href="@{/crossword}" class="btn btn-secondary">Přejít na seznam indícií</a>
            </div>
            <div th:if="${result?.isCorrect == false}" class="alert alert-danger">
                <p><strong>Bohužel...</strong></p>
                <p th:text="${result.message}"></p>
            </div>
            <h2>Úkol</h2>
            <form th:action="|/verify|" th:object="${cacheValidationDTO}" method="post">
                <div class="form-group">
                    <label for="cacheNumber">Číslo kešky</label>
                    <select id="cacheNumber" type="text" th:field="*{cacheNumber}" class="form-control" required>
                        <option th:each="i : ${caches}" th:value="${i}" th:text="${i}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="teamName">Jméno týmu</label>
                    <input id="teamName" type="text" th:field="*{teamName}" class="form-control" required />
                    <p th:if="${#fields.hasErrors('teamName')}" th:class="'error'" th:errors="*{teamName}" id="teamNameErrorMessage"></p>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" th:field="*{email}" class="form-control" required />
                    <p th:if="${#fields.hasErrors('email')}" th:class="'error'" th:errors="*{email}" id="emailErrorMessage"></p>
                </div>
                <div class="form-group">
                    <label for="answer">Řešení</label>
                    <input id="answer" type="text" th:field="*{answer}" class="form-control" required />
                    <p th:if="${#fields.hasErrors('answer')}" th:class="'error'" th:errors="*{answer}" id="answerErrorMessage"></p>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Ověřit</button>
                </div>
            </form>
            <div>
                <a th:href="@{/crossword}" class="btn btn-secondary">Přejít na seznam indícií</a>
            </div>
            <div>
                <a href="https://en.mapy.cz/s/bojeporumo" class="btn btn-secondary">Přejít na mapu</a>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer()"></div>
</div>
</body>
</html>
