<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head :: head('Polanská keška')">
</head>
<body>
<div class="container">
    <div th:insert="fragments/header :: header()"></div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Mapa</h2>
            <div>
                <iframe style="border:none" src="https://en.frame.mapy.cz/s/pasupobero" width="100%" height="280" frameborder="0"></iframe>
            </div>
            <div>
                <a th:href="@{/}" class="btn btn-secondary">Zpět</a>
            </div>
            <div>
                <a th:href="@{/crossword}" class="btn btn-secondary">Přejít na seznam indícií</a>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer()"></div>
</div>
</body>
</html>